---
import { cn } from "@lib/utils";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  title: string;
}

const { title, class: className, ...attrs } = Astro.props;
---

<section class={cn(className)} {...attrs}>
  <div class="title-container">
    <h1 class="title">{title}</h1>
    <slot name="title-extra" />
  </div>
  <div class="content">
    <slot />
  </div>
  <slot name="after-content" />
</section>
