---
import { cn } from "@/lib/utils";

import GithubIcon from "@assets/icons/brands/github.svg";

import githubContribs from "@data/github-contribs.json";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class={cn(
    "fill-accent rounded-md p-2 w-full h-full justify-center text-center flex flex-col items-center",
    className,
  )}
>
  <h1
    class="text-dm-sm font-departuremono text-accent flex items-center gap-2 font-bold"
  >
    <GithubIcon class="h-10 w-10" />Github Contributions
  </h1>
  <div class="relative my-4 grid w-fit grid-cols-6 grid-rows-1 justify-center gap-2">
    {
      githubContribs.map((daysColumn) => (
        <p class="inline-grid h-full w-7 max-w-15 min-w-2 grid-cols-1 grid-rows-5 flex-col gap-1 md:w-10 lg:w-15">
          {daysColumn.map((day) => (
            <span
              class={`github-stats__level h-5 rounded-sm level-${day.level}`}
              data-date={day.date}
              data-info={day.tooltipText}
            />
          ))}
        </p>
      ))
    }
    <div id="github-stats__info"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const tooltip = document.getElementById("github-stats__info") as HTMLDivElement;
    const levels = document.querySelectorAll(".github-stats__level");
    levels.forEach((level) => {
      level.addEventListener("mouseenter", () => {
        const info = level.getAttribute("data-info");
        if (info) {
          tooltip.textContent = info;
          tooltip.classList.add("info-visible");
        }
      });
      level.addEventListener("mouseleave", () => {
        if (tooltip) {
          tooltip.classList.remove("info-visible");
        }
      });
    });
  });
</script>

<style>
  @reference "../../global.css";

  .level-0 {
    @apply bg-level-0;
  }
  .level-1 {
    @apply bg-level-1;
  }
  .level-2 {
    @apply bg-level-2;
  }
  .level-3 {
    @apply bg-level-3;
  }
  .level-4 {
    @apply bg-level-4;
  }

  #github-stats__info {
    @apply bg-section-background font-departuremono text-dm-sm pointer-events-none absolute top-[105%] left-[-50%] w-fit rounded-md p-2 whitespace-nowrap opacity-0 transition-opacity duration-300 md:top-0 md:left-[102%];

    &.info-visible {
      opacity: 1;
    }
  }
</style>
