@import "tailwindcss";

@font-face {
    font-family: "NTBrickSans";
    src: url("/personal/fonts/NTBrickSans.woff") format("woff");
}

@font-face {
    font-family: "PixelifySans";
    src: url("/personal/fonts/PixelifySans.ttf") format("truetype");
}

@theme {
    /* Background Colors */
    --background-color: #141013;
    --section-semi-transparent-color: #14101999;
    --section-semi-transparent-color: #14101999;
    --popup-actions: #ffca3a;
    --popup-actions-background: #f2bb0550;
    --popup-background: #19151650;

    /* Animations Durations */
    --standard-animation-duration: 1s;

    /* Text Colors */
    --text-color: white;
    --red-accent-color: #ff2c20;
    --blue-accent-color: #3446ff;

    /* Selection Colors */
    --selection-color: #d01cfb;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

*:focus {
    @apply rounded-md outline-2 outline-offset-2 outline-[var(--red-accent-color)] outline-dashed;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

::selection {
    color: var(--selection-color);
}

::selection:nth-child(even) {
    color: var(--selection-color);
}

@layer utilities {
    .blue {
        color: var(--blue-accent-color);
    }

    .red {
        color: var(--red-accent-color);
    }
}
