@reference "./global.css";

.row rect.button {
  @apply cursor-pointer shadow-2xl;
}

.outer-rect {
  @apply fill-section-secondary;
}

.inner-rect {
  @apply fill-section-background;
}

.symbol::selection {
  @apply bg-none;
}

.symbol {
  @apply pointer-events-none;
}

/*
 * Keyboard modes
 */

.keyboard-modes-panel {
  @apply border-accent absolute bottom-[20rem] left-9 flex translate-x-[-40%] rotate-90 transform flex-col items-center justify-center gap-4 rounded-md border border-dashed p-3 md:left-4 xl:-bottom-1 xl:translate-x-[12%] xl:rotate-0 xl:pl-3;

  .panel-title {
    @apply -ml-6 w-full text-center text-xl;
  }

  .push-buttons {
    @apply flex gap-4;
  }

  .push-button {
    @apply bg-keyboard-push-button-background flex h-15 w-20 items-baseline justify-center pt-1.5;
    box-shadow:
      0 5px 0 #444,
      0 8px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.1s ease;

    > img {
      @apply w-[40%] rotate-90;
      image-rendering: pixelated;
    }

    &:hover {
      @apply bg-gray-600;
      box-shadow:
        0 4px 0 #333,
        0 6px 10px rgba(0, 0, 0, 0.4);
    }

    &.active {
      @apply translate-y-1.5 bg-gray-700;
      box-shadow:
        0 1px 0 #333,
        0 2px 4px rgba(0, 0, 0, 0.4);
    }
  }
}

svg {
  @apply w-[60%];
}
