---
import HomeLayout from "@/layouts/HomeLayout.astro";
import CharacterDialogWrapper from "@components/special/CharacterDialogWrapper.astro";
---

<script>
    import Typewriter from "@lib/typewriter";
    import DialogController from "@lib/dialog.controller";

    const killerFrazes = [
        `Wait, who are you? Could it be that at the moment I realized I wasn't a trembling creature, but had a right, the owner wasn't home and a simple passerby showed up?
        <br><br>Anyway, it doesn't matter...`,

        `I won't stay here long, all I found of value was this piece of paper with a note about a local inhabitant.`,

        `I hope this helps you, although I don't know why you came here. Just in case, I wasn't here and you didn't see me.`,
    ];

    const killerAvatar = document.getElementById("killer-avatar");

    const frazesActions: (() => void)[] = [
        () => {
            killerAvatar?.classList.toggle("hidden-face", true);
            killerAvatar?.classList.toggle("show-face", false);
        },
        () => {
            killerAvatar?.classList.toggle("hidden-face", false);
            killerAvatar?.classList.toggle("show-face", true);
        },
    ];

    const typewriter = new Typewriter(true, 80);
    DialogController.registerTypewriter(typewriter);

    const frazesHeading = document.getElementById(
        "killer-fraze",
    ) as HTMLHeadingElement;

    if (frazesHeading) {
        DialogController.startDialog({
            texts: killerFrazes,
            targetElement: frazesHeading,
            onComplete: () => {
                killerAvatar?.classList.toggle("hide-avatar", true);
            },
            onFrazesActions: frazesActions,
            hideMsDelay: 2.5,
        });
    }
</script>

<HomeLayout>
    <CharacterDialogWrapper>
        <div slot="character-name">
            <h1>?</h1>
        </div>
        <div slot="texts">
            <h1 id="killer-fraze"></h1>
        </div>
        <div slot="avatar" id="killer-avatar"></div>
    </CharacterDialogWrapper>
</HomeLayout>

<style>
    #killer-avatar {
        background-image: url("../assets/killer_sheet.png");
        image-rendering: pixelated;
        text-align: justify;
        scale: 6;
        width: 140px;
        height: 128px;
        transform: translateY(-42%);
        background-position-x: 0px;
        background-size: 700px 128px;

        &.hidden-face {
            animation: secret-appear 2.5s ease-in-out forwards;
        }

        &.show-face {
            animation: face-appear 1.5s steps(3, jump-end) infinite;
        }

        &.hide-avatar {
            animation: hide-killer 2.5s ease-in-out forwards;
        }
    }

    #killer-fraze {
        margin-right: 20px;
    }

    @keyframes secret-appear {
        from {
            scale: 5;
            opacity: 0;
            filter: hue-rotate(45deg);
        }
        to {
            opacity: 1;
            scale: 6;
        }
    }

    @keyframes hide-killer {
        from {
            background-position-x: -420px;
            scale: 6;
        }
        to {
            opacity: 0;
            scale: 5;
            filter: hue-rotate(45deg);
            background-position-x: -420px;
        }
    }

    @keyframes face-appear {
        from {
            background-position-x: -420px;
        }
        to {
            background-position-x: 0px;
        }
    }
</style>
