---
import Layout from "@/layouts/BaseLayout.astro";

import Reference from "@features/welcome/Reference.astro";
import Section from "@features/welcome/SectionWithBG.astro";

import GithubIcon from "@assets/icons/brands/github.svg";
import TelegramIcon from "@assets/icons/brands/telegram.svg";
import EmailIcon from "@assets/icons/email.svg";
import BookIcon from "@assets/icons/book.svg";
import HomeIcon from "@assets/icons/home.svg";
import WaveAnimation from "@assets/wave_animation.svg";
---

<script>
  import Typewriter from "@lib/typewriter";

  const typewriter = new Typewriter(false);

  document.addEventListener("DOMContentLoaded", () => {
    typewriter.setupTypewriterFromElementWithInnerText(
      document.getElementById("nickname-self") as HTMLHeadingElement,
    );
  });
</script>

<Layout title="Welcome">
  <main class="flex flex-col items-center justify-center pb-20 md:pb-0">
    <WaveAnimation
      id="wave-animation"
      class="fill-wave-color absolute top-0 left-0 -z-1000 h-fit"
    />
    <section id="nickname">
      <h1
        id="nickname-self"
        class="md:font-extrude font-pixelify mt-10 flex w-full min-w-max text-center text-[12vw] font-bold -tracking-widest uppercase hover:tracking-normal md:flex-row"
      >
        <span class="text-foreground-accent-blue relative">s</span>
        <span class="text-foreground-accent-red relative">p</span>
        <span class="text-foreground-accent-blue relative">i</span>
        <span class="text-foreground-accent-red relative">n</span>
        <span class="text-foreground-accent-blue relative">o</span>
        <span class="text-foreground-accent-red relative">z</span>
        <span class="text-foreground-accent-blue relative">a</span>
        <span class="text-foreground-accent-red relative">n</span>
        <span class="text-foreground-accent-blue relative">i</span>
        <span class="text-foreground-accent-red relative">l</span>
        <span class="text-foreground-accent-blue relative">a</span>
        <span class="text-foreground-accent-red relative">s</span>
        <span class="text-foreground-accent-blue relative">t</span>
      </h1>
      <div
        class="horizontal-line bg-logo-underline relative bottom-6.25 mt-[0.5em] h-[calc(min(1vw,2vh)/1)] w-full rounded-md"
      >
      </div>
    </section>
    <Section
      title="Links"
      class="bg-section-background rounded-xl"
      iconName={"link"}
      enableTitleOnBackground
      bigIconTitleModeEnabled
    >
      <Fragment slot="content">
        <a
          href="https://github.com/spinozanilast"
          class="fill-foreground-accent-red text-dm-sm font-departuremono decoration-accent flex h-[7em] flex-col items-center text-center font-medium decoration-3 underline-offset-1 hover:underline hover:[&_svg]:scale-110"
          target="_blank"
        >
          <GithubIcon />
          <span class="block">Github</span>
        </a>
        <a
          href="https://t.me/spinozanilast"
          class="fill-foreground-accent-red text-dm-sm font-departuremono decoration-accent flex h-[7em] flex-col items-center text-center font-medium decoration-3 underline-offset-1 hover:underline hover:[&_svg]:scale-110"
          target="_blank"
        >
          <TelegramIcon />
          <span class="block">Telegram</span>
        </a>
        <a
          href="mailto:spinozanilast@proton.me"
          class="fill-foreground-accent-red text-dm-sm font-departuremono decoration-accent flex h-[7em] flex-col items-center text-center font-medium decoration-3 underline-offset-1 hover:underline hover:[&_svg]:scale-110"
        >
          <EmailIcon />
          <span class="block">Email</span>
        </a>
      </Fragment>
    </Section>
    <Section
      id="navigation"
      title="Navigation"
      iconName="navigation"
      enableTitleOnBackground
      bigIconTitleModeEnabled
      class="bg-section-background container rounded-xl"
    >
      <Fragment slot="content">
        <Reference title="Home" link="/home" separateTab={false}><HomeIcon /></Reference
        >
        <Reference title="Notes" link="/notes" separateTab={false}
          ><BookIcon /></Reference
        >
      </Fragment>
    </Section>
  </main>
</Layout>

<style>
  @reference "../global.css";

  main > section:not(:first-of-type) {
    @apply my-2.5 max-w-3/4 min-w-3/4 md:min-h-[25vh];
  }

  main > section:first-of-type {
    @apply top-4 my-2.5 mt-8 max-h-[30vh];
  }

  section#nickname {
    @apply flex w-fit flex-col items-end justify-center p-4;
  }

  #nickname-self {
    transition: letter-spacing 1s ease-in-out;
    > span {
      transition: all var(--standard-animation-duration);
    }
    @media (width >= 450px) {
      span {
        -webkit-text-stroke: var(--logo-stroke) 5px;
      }
    }
  }

  section#navigation.container {
    @apply flex flex-row items-center justify-center gap-2 px-20 py-10;

    @media (width <= 700px) {
      @apply px-4 py-5;
    }

    @media (width <= 1100px) {
      @apply flex-col;
    }
  }

  svg {
    @apply h-full w-full;
  }

  @media (max-width: 768px) {
    .horizontal-line {
      bottom: 0.625rem;
    }
  }

  :global(span.letter-glow) {
    @apply text-shadow-lg;
  }

  @media screen and (max-width: 768px) {
    section#links {
      > a {
        @apply h-34 w-34;
      }
    }

    section#references {
      @apply mt-[1em];
    }
  }

  @media (width <= 500px) {
    section#navigation.container {
      @apply flex flex-row items-center justify-center px-4 py-5;
    }
  }
</style>
