---
import { Image } from "astro:assets";
import { cn } from "@/utils";
import type { Position } from "@components/types";

interface Props {
    icon: string;
    iconSize?: "small" | "medium" | "large";
    position?: Position;
    trigger?: "hover";
    className?: string;
}

const PositionClasses = {
    left: "tw:right-full tw:top-1/2 tw:-translate-y-1/2 tw:mr-2",
    top: "tw:bottom-full tw:left-1/2 tw:-translate-x-1/2 tw:mb-2",
    right: "tw:left-full tw:top-1/2 tw:-translate-y-1/2 tw:ml-2",
    bottom: "tw:top-full tw:left-1/2 tw:-translate-x-1/2 tw:mt-2",
};

const IconSizeClasses = {
    small: "tw:min-w-6 tw:min-h-6 tw:md:min-w-8 tw:md:min-h-8 tw:lg:min-w-10 lg:min-h-10",
    medium: "tw:min-w-8 tw:min-h-8 tw:md:min-w-10 tw:md:min-h-10 tw:lg:min-w-12 tw:lg:min-h-12",
    large: "tw:min-w-10 tw:min-h-10 tw:md:min-w-12 tw:md:min-h-12 tw:lg:min-w-14 tw:lg:min-h-14",
};

const {
    icon,
    position = "top",
    trigger = "hover",
    iconSize = "large",
    className,
} = Astro.props;

const getDimensions = () => {
    switch (iconSize) {
        case "small":
            return { width: 24, height: 24 };
        case "medium":
            return { width: 32, height: 32 };
        case "large":
        default:
            return { width: 40, height: 40 };
    }
};

const { width, height } = getDimensions();
---

<div class="tw:group tw:relative tw:inline-block">
    <slot />

    <div
        class={cn(
            `tw:absolute tw:z-1000
       tw:opacity-0 tw:transition-all tw:duration-300
       tw:pointer-events-none tw:transform
       tw:group-hover:opacity-100 tw:group-hover:scale-110
       ${PositionClasses[position]}`,
            className,
        )}
        aria-hidden="true"
    >
        <Image
            src={icon}
            alt=""
            width={width}
            height={height}
            class={cn(
                "tw:transition-transform tw:duration-200 tw:ease-out",
                IconSizeClasses[iconSize],
            )}
            loading="eager"
            densities={[1, 2]}
        />
    </div>
</div>

<style>
    @media (max-width: 768px) {
        .right-full {
            right: calc(100% + 0.25rem);
        }
        .left-full {
            left: calc(100% + 0.25rem);
        }
        .bottom-full {
            bottom: calc(100% + 0.25rem);
        }
        .top-full {
            top: calc(100% + 0.25rem);
        }
    }
</style>
