---
import darkLightToggleSheet from "@assets/sheets/dark_light_toggle.png";
---

<button
  class="theme-toggle bg-util-icon-color text-primary-background font-pixelify h-10 w-10 cursor-pointer rounded-md p-1 font-bold hover:scale-105 hover:brightness-110"
  style={`--dark-light-sheet: url(${darkLightToggleSheet.src});`}
>
  <div class="dark-light-indicator"></div>
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".theme-toggle").forEach((button) => {
      const animationDiv = button.querySelector(".dark-light-indicator");
      const current = document.documentElement.getAttribute("data-theme");

      animationDiv?.classList.add(current || "light");

      button.addEventListener("click", () => {
        const current = document.documentElement.getAttribute("data-theme");
        const next = current === "dark" ? "light" : "dark";

        document.documentElement.setAttribute("data-theme", next);
        localStorage.setItem("theme", next);
        if (current) {
          animationDiv?.classList.remove(current, "animated");
        }

        animationDiv?.classList.add("animated", next || "light");
      });
    });
  });
</script>

<style>
  .dark-light-indicator {
    background-image: var(--dark-light-sheet);
    width: 32px;
    height: 32px;
    background-size: 416px 32px;

    &.light {
      background-position: 0px 0px;
    }

    &.dark {
      background-position: -384px 0px;
    }

    &.animated.light {
      background-position: -32px 0px;
      animation: animateToDark 1s steps(13, jump-none) forwards;
    }

    &.animated.dark {
      background-position: 384px 0px;
      animation: animateToLight 1s steps(13, jump-none) forwards;
    }
  }

  @keyframes animateToLight {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: -384px 0px;
    }
  }

  @keyframes animateToDark {
    from {
      background-position: -384px 0px;
    }
    to {
      background-position: 0px 0px;
    }
  }
</style>
