---
import type { AnimationInfo } from "@components/LetterHoverAnimation.astro";
import DarkLightSwitcher from "@components/basic/DarkLightSwitcher.astro";
import LetterHoverAnimation from "@components/LetterHoverAnimation.astro";
import Reference from "@components/Reference.astro";
import PersonalityPopup from "@popups/PersonalityPopup.astro";

import GithubIcon from "@assets/brands/github.svg";
import TelegramIcon from "@assets/brands/telegram.svg";
import EmailIcon from "@assets/email.svg";
import BookIcon from "@assets/book.svg";
import DiaryIcon from "@assets/diary.svg";
import Wave from "@assets/wave-animation.svg";

const ANIMATION_BEFORE_LOOP_DURATION = 2700;

const blueAnimationInfo: AnimationInfo = {
    staticPath: "/personal/animations/snakish/blue-static.webp",
    animationPath: "/personal/animations/snakish/blue.webp",
    loopedAnimationPath: "/personal/animations/snakish/blue-looping.webp",
    beforeLoopedDuration: ANIMATION_BEFORE_LOOP_DURATION,
};

const redAnimationInfo: AnimationInfo = {
    staticPath: "/personal/animations/snakish/red-static.webp",
    animationPath: "/personal/animations/snakish/red.webp",
    loopedAnimationPath: "/personal/animations/snakish/red-looping.webp",
    beforeLoopedDuration: ANIMATION_BEFORE_LOOP_DURATION,
};
---

<main>
    <Wave id="wave-animation" />
    <div class="absolute top-1.25 right-1.25 flex flex-row gap-2">
        <DarkLightSwitcher />
        <PersonalityPopup />
    </div>
    <section id="nickname">
        <h1 id="nickname-self">
            <LetterHoverAnimation
                animationInfo={blueAnimationInfo}
                letter="s"
                iconPosition="left"
                zIndex={0}
                letterClass="blue"
            />
            <span class="red relative z-1">p</span><span
                class="blue relative z-2">i</span
            ><span class="red relative z-3">n</span><span
                class="blue relative z-4">o</span
            ><span class="red relative z-5">z</span><span
                class="blue relative z-6">a</span
            ><span class="red relative z-7">n</span><span
                class="blue relative z-8">i</span
            ><span class="red relative z-9">l</span><span
                class="blue relative z-10">a</span
            ><LetterHoverAnimation
                animationInfo={redAnimationInfo}
                zIndex={11}
                iconClassName="left-[1em]"
                iconPosition="right"
                letterClass="red"
                letter="s"
            /><span class="blue relative z-12">t</span>
        </h1>
        <div class="horizontal-line"></div>
    </section>
    <section id="links" class="background">
        <a href="https://github.com/spinozanilast" class="link" target="_blank">
            <GithubIcon />
            <span>Github</span>
        </a>
        <a href="https://t.me/spinozanilast" class="link" target="_blank">
            <TelegramIcon />
            <span>Telegram</span>
        </a>
        <a href="mailto:spinozanilast@proton.me" class="link">
            <EmailIcon />
            <span>Email</span>
        </a>
    </section>
    <section id="references" class="background container">
        <Reference
            title="Old Resume"
            link="https://spinozanilast.github.io/resume/"
            ><BookIcon /></Reference
        >
        <Reference
            title="Diary"
            link="https://github.com/spinozanilast/spinozanilast.github.io"
            separateTab={false}><DiaryIcon /></Reference
        >
    </section>
</main>

<style>
    @reference "../styles/global.css";

    main {
        @apply flex h-full flex-col items-center justify-center font-["PixelifySans"];
    }

    #background {
        @apply fixed top-0 left-0 -z-1 h-full w-full blur-[100px];
    }

    main > section:not(:first-of-type) {
        @apply my-2.5 max-w-3/4 min-w-3/4 md:min-h-[25vh];
    }

    main > section:first-of-type {
        @apply my-2.5 max-h-[30vh] min-h-[30vh];
    }

    section#nickname {
        @apply flex w-fit flex-col items-end justify-center p-4;
    }

    #nickname-self {
        @apply w-full min-w-max text-center font-["NTBrickSans"] text-[calc(max(1vw,1vh)*11)] tracking-[-0.25em] text-nowrap uppercase;
        transition: letter-spacing 1s ease-in-out;
        > span {
            @apply transition-all duration-(--standard-animation-duration);
        }

        span {
            -webkit-text-stroke: var(--logo-stroke) 5px;
        }
    }

    #wave-animation {
        @apply fill-wave-color absolute top-0 left-0 -z-1000 h-fit;
    }

    section.background {
        @apply bg-section-background rounded-xl;
    }

    section#links {
        @apply relative flex h-fit w-[67.5vw] flex-col items-center justify-center gap-1.5 md:flex-row;

        &::before {
            @apply absolute z-[-1000] text-[calc(max(1vw,1vh)*10)] opacity-20 blur-xs content-["LINKS"];
        }
    }

    section#references {
        @apply w-[90%];

        &::before {
            @apply absolute -z-1000 text-[calc(max(1vw,1vh)*9)] opacity-20 blur-xs content-["REFERENCES"];
        }
    }

    section#references.container {
        @apply flex flex-row items-center justify-center gap-2;

        @media (width <= 885px) {
            @apply flex-col;
        }
    }

    .link {
        @apply fill-foreground-accent-red flex h-[7em] flex-col items-center text-center text-[1.5em] font-medium;
        &:hover svg,
        &:active svg,
        &:focus svg {
            scale: 1.1;
        }
    }

    svg {
        @apply h-full w-full;
    }

    .horizontal-line {
        @apply bg-logo-underline relative bottom-6.25 mt-[0.5em] h-[calc(min(1vw,2vh)/1)] w-full rounded-md;

        @media (max-width: 768px) {
            @apply bottom-2.5;
        }
    }

    :global(span.letter-glow) {
        @apply text-shadow-lg;
    }

    @media screen and (max-width: 768px) {
        section#links {
            > a {
                @apply h-34 w-34;
            }
        }

        section#references {
            @apply mt-[1em];
        }
    }
</style>
