---
import { cn } from "@lib/utils";

import Popup from "@components/base/Popup.astro";

type Props = {
  buttonClass?: string;
};

const { buttonClass } = Astro.props as Props;
---

<Popup
  title=""
  visibilities={[{ key: "skip-animation", visible: true }]}
  id="personality-popup"
>
  <button
    class={cn(
      "bg-util-icon-color text-primary-background font-pixelify h-10 w-10 cursor-pointer rounded-md p-1 font-bold hover:scale-105 hover:brightness-110 group",
      buttonClass,
    )}
    slot="trigger"
  >
    <p class="group-hover:text-accent font-departuremono text-center text-2xl">?</p>
  </button>
  <div slot="content" class="font-pixelify">
    <div
      class="content-text bg-popup-background flex flex-col overflow-y-hidden rounded-md p-[1em]"
    >
      <h1 class="typewriter"></h1>
      <h1 class="typewriter"></h1>
    </div>
  </div>
</Popup>

<script>
  import Typewriter from "@lib/typewriter";

  const typewritersContents = [
    `<span class="nickname-text"
                    >Hello, I'm <span class="colored uppercase"
                        >Spinozanilast</span
                    >
                    <img
                        src="https://raw.githubusercontent.com/Spinozanilast/spinozanilast/refs/heads/master/assets/spinozanilast.gif"
                        alt="Spinozanilast's gif"
                        id="spinozanilast-gif"
                    />
                    </span>`,
    "The same one who made you where you are now and something else.",
  ];

  let typewriter: Typewriter = new Typewriter();

  document.addEventListener("popup-open", () => {
    typewriter.setSkipAnimation(false);
    const popup = document.getElementById("personality-popup");
    if (!popup) return;

    typewriter.setupTypewritersWithSingleTexts(typewritersContents, popup);
  });

  document.addEventListener("popup-close", () => {
    typewriter.release();
  });

  document.addEventListener("popup-skip-forward", () => {
    typewriter.setSkipAnimation(true);
  });
</script>

<style>
  @reference "../global.css";

  .blinking::after {
    @apply h-[90%] w-1 content-[""];
    position: absolute;
    border-right: white solid 3px;
    animation: blink-caret 0.4s linear infinite alternate;
  }

  :global(#spinozanilast-gif) {
    @apply inline h-40 w-40 pt-3.5 pb-1.5;
  }

  :global(.nickname-text) {
    @apply text-[5vw] text-wrap;
  }

  h1.typewriter {
    @apply relative tracking-[0.15em];
  }

  @media screen and (max-width: 768px) {
    h1.typewriter {
      @apply text-center;
    }
  }

  :global(span.colored) {
    @apply text-foreground-accent-red;
  }

  #about-button {
    @apply fill-util-icon-color h-10 w-10 cursor-pointer;

    svg {
      @apply h-full w-full;
    }
  }

  @keyframes blink-caret {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
