---
import SquareBracket from "@assets/square-bracket.svg";

interface Props {
    title: string;
    link: string;
    description?: string;
    separateTab?: boolean;
    className?: string;
}

const { title, description, link, separateTab = true, className } = Astro.props;
---

<a class="reference-link" href={link} target={separateTab ? "_blank" : ""}>
    <div class="reference">
        <SquareBracket class="bracket-icon" />
        <div title={description} class={className} class="reference-content">
            <slot />

            {title}
        </div>
        <SquareBracket class="bracket-icon" />
    </div>

    <style>
        .reference {
            height: 100px;
            max-width: 25%;
            min-width: max-content;
            display: flex;
            flex-direction: row;
            max-height: 15rem;
            align-items: center;
            fill: var(--red-accent-color);

            &:hover {
                scale: 1.1;
            }
        }

        .reference-content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
        }

        .reference-link {
            text-decoration: none;
            color: var(--red-accent-color);
            font-weight: 500;
            font-size: 1.5em;
            max-lines: 2;
        }

        .bracket-icon:last-child {
            rotate: 180deg;
        }
    </style>
</a>
