---
import SquareBracket from "@assets/square-bracket.svg";

interface Props {
    title: string;
    link: string;
    description?: string;
    separateTab?: boolean;
    className?: string;
}

const { title, description, link, separateTab = true, className } = Astro.props;
---

<a class="reference-link" href={link} target={separateTab ? "_blank" : ""}>
    <div class="reference group">
        <SquareBracket class="bracket-icon" />
        <div title={description} class={className} class="reference-content">
            <slot />

            {title}
        </div>
        <SquareBracket class="bracket-icon" />
    </div>
</a>

<style>
    @reference "../styles/global.css";

    .reference {
        @apply fill-foreground-accent-red flex h-25 max-h-60 max-w-full min-w-max flex-row justify-between hover:scale-[1.1] active:scale-[1.1];
    }

    .reference-content {
        @apply text-foreground flex flex-row items-center justify-center gap-[0.5em] text-3xl;

        svg {
            @apply max-w-16 min-w-2;

            @media (width <= 700px) {
                @apply w-12;
            }
        }

        @media (width <= 700px) {
            @apply flex-col text-xl;
        }
    }

    .reference-link {
        @apply text-foreground-accent-red w-full min-w-1/3 text-[1.5em] font-medium focus:scale-[1.1];
    }

    .bracket-icon:last-child {
        @apply rotate-180;
    }
</style>
