---
import githubContribs from "@data/github-contribs.json";
---

<div class="github-stats container">
    {
        githubContribs.map((daysColumn) => (
            <p class="github-stats__column">
                {daysColumn.map((day) => (
                    <span class={`github-stats__level level-${day.level}`} data-date={day.date} data-info={day.tooltipText} />
                ))}
            </p>
        ))
    }
    <div id="github-stats__info"></div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const tooltip = document.getElementById("github-stats__info") as HTMLDivElement;
        const levels = document.querySelectorAll(".github-stats__level");
        levels.forEach((level) => {
            level.addEventListener("mouseenter", () => {
                const info = level.getAttribute("data-info");
                if (info) {
                    tooltip.textContent = info;
                    tooltip.classList.add("info-visible");
                }
            });
            level.addEventListener("mouseleave", () => {
                if (tooltip) {
                    tooltip.classList.remove("info-visible");
                }
            });
        });
    });
</script>
