@reference "../global.css";

.navbar-container {
    @apply fixed top-0 right-0 left-0 z-10 w-full p-2;
}

.navbar {
    @apply mt-1 h-20 items-center;
}

#hamburger {
    @apply hidden;
}

#nav-icon {
    @apply text-accent bg-section-secondary absolute left-1/2 -translate-x-1/2 items-center justify-center rounded-md p-3 text-xl;

    svg {
        @apply scale-150;
    }
}

header[data-scroll-dir="down"] #nav-icon {
    @apply mt-2 flex;
}

header[data-scroll-dir="down"]:hover #nav-icon {
    @apply opacity-0;
}

header[data-scroll-dir="down"] #nav-group:hover #nav-wrapper {
    @apply pointer-events-auto opacity-100;
}

header[data-scroll-dir="up"] #nav-icon {
    @apply hidden;
}

#nav-wrapper {
    @apply shadow-accent w-fit justify-self-center rounded-md border-dashed py-1;
}

nav {
    @apply grid grid-cols-2 grid-rows-2 flex-wrap items-center justify-center gap-4 p-2 px-4 text-xl md:flex md:flex-row md:flex-nowrap;

    a:not(.special) {
        &::before {
            @apply w-2 min-w-2 content-["/"];
        }
    }

    a:not(.special) {
        @apply hover:bg-section-background min-h-8 min-w-36 text-center opacity-70 transition-transform hover:scale-105 hover:rounded-md hover:p-2 hover:opacity-100;

        &.active {
            @apply text-accent bg-section-background rounded-md p-2 text-2xl font-bold opacity-100;
        }
    }
}

div#snake-logo {
    @apply h-16 w-16 scale-[0.8] bg-[url("../../assets/sheets/snake_logo.png")] bg-size-[704px_64px] hue-rotate-(--scroll-indicator-hue-rotate) transition-[scale];
    image-rendering: pixelated;

    &:hover {
        scale: 1;
        animation: snake-licking 1.5s steps(11, jump-none) infinite;
    }
}

@keyframes snake-licking {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -640px;
    }
}

.mobile-only {
    @apply hidden;
}

.util-panel {
    @apply bg-util-panel-background rounded-xsl absolute top-2 z-10 flex w-fit items-center gap-2 place-self-end-safe p-2;
}

main {
    @apply h-full;
}

@media (width < 1000px) {
    #hamburger {
        @apply text-accent z-20 block cursor-pointer place-self-end self-center p-2 text-3xl;
    }

    .navbar {
        @apply bg-section-background ml-auto grid-cols-2 grid-rows-[5rem_auto_5rem] overflow-hidden px-2 backdrop-blur-xs transition-[height,width] duration-400 ease-in-out;

        box-shadow: inset 0 1px 1px
            color-mix(in srgb, var(--color-accent), transparent 60%);
        border: 1px solid
            color-mix(in srgb, var(--color-accent), transparent 80%);
    }

    #nav-wrapper {
        @apply opacity-100;
    }

    #nav-group {
        @apply col-span-2 justify-end;
    }

    #nav-icon {
        display: none !important;
    }

    header[data-menu-open="true"] .navbar {
        height: 25.4rem;
        width: 100%;
    }

    header[data-menu-open="false"] .navbar {
        @apply w-[3.81rem];
        height: 3.2rem;
    }

    nav {
        @apply flex flex-col items-center gap-1 p-4;

        a:not(.special) {
            @apply min-h-12 content-center text-center;
        }

        a.special {
            @apply hidden;
        }
    }

    .util-panel {
        @apply mr-2 mb-13 self-center;
    }

    .util-panel {
        @apply hidden;
    }

    .mobile-only {
        @apply block;
    }

    header[data-scroll-dir="down"] #nav-wrapper {
        @apply pointer-events-none transition-opacity duration-200;
    }
}

@media (width >= 1000px) {
    #nav-wrapper {
        @apply bg-section-background backdrop-blur-xs;
        box-shadow: inset 0 1px 1px
            color-mix(in srgb, var(--color-accent), transparent 60%);
        border: 1px solid
            color-mix(in srgb, var(--color-accent), transparent 80%);
    }

    header[data-scroll-dir="down"] #nav-wrapper {
        @apply pointer-events-none opacity-0 transition-opacity duration-200;
    }

    header[data-scroll-dir="up"] #nav-wrapper {
        @apply pointer-events-auto opacity-100 transition-opacity duration-200;
    }
}
