---
import DarkLightSwitcher from "@components/special/DarkLightSwitcher.astro";
import PersonalityPopup from "@popups/PersonalityPopup.astro";

import "@/styles/global.css";

type Props = {
    renderUtilitiesPanel?: boolean;
};

const { renderUtilitiesPanel = true } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0,  minimum-scale=1.0"
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Spinozanilast's Diary</title>
    </head>
    <body>
        {
            renderUtilitiesPanel && (
                <div class="bg-section-background absolute top-1.25 right-1.25 z-10 flex flex-row gap-2 rounded-md p-1">
                    <DarkLightSwitcher />
                    <PersonalityPopup />
                </div>
            )
        }
        <slot />
    </body>
</html>

<script is:inline>
    const theme =
        localStorage.getItem("theme") ||
        (window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
    document.documentElement.setAttribute("data-theme", theme);
</script>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    body {
        @apply font-["PixelifySans"];
    }
</style>
