---
import BaseLayout from "./BaseLayout.astro";
import ScrollIndicator from "@/components/special/ScrollIndicator.astro";
---

<BaseLayout>
    <header>
        <ScrollIndicator class="z-10" />
    </header>
    <main>
        <slot />
    </main>
</BaseLayout>

<style>
    nav {
        @apply flex items-center justify-center;
    }

    main {
        @apply h-full;
    }
</style>
